default:
  tags:
  - ops-gitlab-runner 

stages:
  - run_script

variables:
  ENVIRONMENT: "" 
  NAMESPACE: "main" 
  SERVICE_NAME: "" 
  REGION: "us-east-1"
  DB_PORT: "3306"
  ADMINDB_SECRET_NAME: ""
  UPDATE_DB_USER: "no"

create-db:
  image: 
    name: amazon/aws-cli
  stage: run_script
  when: manual
  before_script:
    - yum update -y \
      && yum install -y python3 jq \
      && yum clean all
    - pip3 install --upgrade boto3
    - pip3 install mysql-connector-python
    - aws --version
    - python3 --version
    - pwd
  script:
    - chmod +x create-db.py 
    - python3 create-db.py $ENVIRONMENT $NAMESPACE $SERVICE_NAME $REGION $DB_PORT $ADMINDB_SECRET_NAME $UPDATE_DB_USER
